<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS Location Data</title>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 引入 DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

    <!-- jQuery 库 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready( function () {
            // 初始化 DataTables 功能
            $('table').DataTable();
        } );

        function preprocessData() {
            $.post('/preprocess_data', function(data) {
                console.log('Data processed:', data);
                alert('Data has been processed!');
            });
        }
    </script>
</head>

<body>
    <div class="container mt-5">
        <h1>Stored GPS Locations</h1>
        <button class="btn btn-primary" onclick="preprocessData()">Preprocess Data</button>
        <table class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Android ID</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Date</th>
                    <th>Hour</th>
                    <th>Seconds</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                <tr>
                    <td>{{ location.id }}</td>
                    <td>{{ location.android_id }}</td>
                    <td>{{ location.latitude }}</td>
                    <td>{{ location.longitude }}</td>
                    <td>{{ location.date }}</td>
                    <td>{{ location.hour }}</td>
                    <td>{{ location.seconds }}</td>
                    <td>{{ location.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
